---

# Rattrapage Python for Data Science 2021

---

## EXERCICE 1

**Question 1**. Commencer par importer pandas et numpy en utilisant la convention:

In [1]:
import pandas as pd
import numpy as np

**Question 2**. Maintenant charger le fichier `input/automobile_data.csv` dans le **DataFrame** `cars_df` et afficher les 10 premi√®re lignes:

In [3]:
cars_df = pd.read_csv("input/automobile_data.csv")

In [4]:
cars_df.head(10)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.4,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.4,8.0,115,5500,18,22,17450
5,2,?,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.4,8.5,110,5500,19,25,15250
6,1,158,audi,gas,std,four,sedan,fwd,front,105.8,...,136,mpfi,3.19,3.4,8.5,110,5500,19,25,17710
7,1,?,audi,gas,std,four,wagon,fwd,front,105.8,...,136,mpfi,3.19,3.4,8.5,110,5500,19,25,18920
8,1,158,audi,gas,turbo,four,sedan,fwd,front,105.8,...,131,mpfi,3.13,3.4,8.3,140,5500,17,20,23875
9,0,?,audi,gas,turbo,two,hatchback,4wd,front,99.5,...,131,mpfi,3.13,3.4,7.0,160,5500,16,22,?

**Question 3**. Afficher les 8 derni√®res du `DataFrame`.

In [5]:
cars_df.tail(8)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
197,-1,74,volvo,gas,std,four,wagon,rwd,front,104.3,...,141,mpfi,3.78,3.15,9.5,114,5400,24,28,16515
198,-2,103,volvo,gas,turbo,four,sedan,rwd,front,104.3,...,130,mpfi,3.62,3.15,7.5,162,5100,17,22,18420
199,-1,74,volvo,gas,turbo,four,wagon,rwd,front,104.3,...,130,mpfi,3.62,3.15,7.5,162,5100,17,22,18950
200,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
201,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
202,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
203,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.4,23.0,106,4800,26,27,22470
204,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

**Question 4**. Donner le nombre de lignes et de colonnes de ce Dataframe.

In [6]:
cars_df.shape

(205, 26)

**Question 5**. R√©cup√©rez le nombre d'entr√©es non nulles par colonne. La colonne `price` contient-elle des valeurs nulles?

In [7]:
cars_df=cars_df.replace(['?'],np.nan)

In [8]:
cars_df['price']=cars_df['price'].astype('float')

In [9]:
cars_df.to_csv("input/automobile_data.csv")

In [13]:
cars_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  164 non-null    object
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   aspiration         205 non-null    object
 5   num-of-doors       203 non-null    object
 6   body-style         205 non-null    object
 7   drive-wheels       205 non-null    object
 8   engine-location    205 non-null    object
 9   wheel-base         205 non-null    float64
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    float64
 13  curb-weight        205 non-null    int64
 14  engine-type        205 non-null    object
 15  num-of-cylinders   205 non-null    object
 16  engine-size        205 non-null    int64
 17  fuel-system        205 non-null    object
 18  bore               201 non-null    object
 19  stroke             201 non-null    object
 20  compression-ratio  205 non-null    float64
 21  horsepower         203 non-null    object
 22  peak-rpm           203 non-null    object
 23  city-mpg           205 non-null    int64
 24  highway-mpg        205 non-null    int64
 25  price              201 non-null    float64
dtypes: float64(6), int64(5), object(15)
memory usage: 41.8+ KB

non elle ne contient pas de valeurs nulles

**Question 6**. S√©lectionnez maintenant toutes les lignes avec une valeur dans la colonne 'price', et stockons-les dans un nouveau DataFrame appel√© `cars_with_price_df`.

Quel est le `shape` de ce nouveau DataFrame? Confirmez votre r√©ponse en utilisant le r√©sultat pr√©c√©dent.

In [14]:
cars_with_price_df = cars_df[cars_df['price']!=np.nan]

In [15]:
cars_with_price_df.shape

(205, 26)

**Question 7**. Combien de `constructeurs(make)` distincts existe-il dans le jeu de donn√©es?

In [16]:
cars_with_price_df.columns

Index(['symboling', 'normalized-losses', 'make', 'fuel-type', 'aspiration',
       'num-of-doors', 'body-style', 'drive-wheels', 'engine-location',
       'wheel-base', 'length', 'width', 'height', 'curb-weight', 'engine-type',
       'num-of-cylinders', 'engine-size', 'fuel-system', 'bore', 'stroke',
       'compression-ratio', 'horsepower', 'peak-rpm', 'city-mpg',
       'highway-mpg', 'price'],
      dtype='object')

In [18]:
cars_with_price_df["make"].nunique()

22

**Question 8**. Affichez tous les constructeurs qui ont publi√© plus de 10 mod√®les. Enregistrez ces r√©sultats dans une nouvelle variable `big_makers`.

In [19]:
big_makers = []
for make in x:
    mask=cars_with_price_df['make']==make
    cnt = cars_with_price_df[mask]['make'].count()
    if cnt>10:
        big_makers.append(make)

In [20]:
big_makers

['honda',
 'mazda',
 'mitsubishi',
 'nissan',
 'peugot',
 'subaru',
 'toyota',
 'volkswagen',
 'volvo']

**Question 9**. R√©cup√©rez les statistiques suivantes:
- la voiture avec la puissance(horsepower) maximale
- la voiture avec la longueur(length) minimale
- la moyenne de la largeur(width) des voitures

In [32]:
cars_with_price_df["make"].max()

'volvo'

In [45]:
cars_with_price_df["horsepower"].max()

TypeError: '>=' not supported between instances of 'str' and 'float'

In [35]:
cars_with_price_df["length"].min()

141.1

In [36]:
cars_with_price_df["width"].sum()

13511.099999999999

## EXERCICE 3 : Vrai ou Faux
- Python est un langage compil√©
- les listes sont modifiable contrairement aux tuples
- Data Science produit de la connaissance √† partir des donn√©es
- DataFrame peux-etre vu comme une table sur excel

## Reponses
-Vrai
-Vrai
-Vrai
-Vrai